USE [master]
GO
/****** Object:  Database [Seminarski]    Script Date: 5/24/2024 11:04:52 AM ******/
CREATE DATABASE [Seminarski]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Seminarski', FILENAME = N'C:\Users\Katarina\Seminarski.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Seminarski_log', FILENAME = N'C:\Users\Katarina\Seminarski_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seminarski].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seminarski]
GO
/****** Object:  Table [dbo].[Jelo]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jelo](
	[jeloID] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NOT NULL,
	[vrstaJela] [int] NOT NULL,
	[kuhinja] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jelo] PRIMARY KEY CLUSTERED 
(
	[jeloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[korisnikID] [int] IDENTITY(1,1) NOT NULL,
	[imeprezime] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[korisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Namirnica]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Namirnica](
	[namirnicaID] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NOT NULL,
	[alergeni] [varchar](50) NOT NULL,
	[kalorije] [int] NULL,
 CONSTRAINT [PK_Namirnica] PRIMARY KEY CLUSTERED 
(
	[namirnicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfilIshrane]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfilIshrane](
	[receptID] [int] NOT NULL,
	[vrstaJelaID] [int] NOT NULL,
	[naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProfilIshrane] PRIMARY KEY CLUSTERED 
(
	[receptID] ASC,
	[vrstaJelaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recept]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recept](
	[receptID] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NOT NULL,
	[opis] [varchar](5000) NULL,
	[vremeKuvanja] [int] NOT NULL,
	[jeloID] [int] NOT NULL,
	[korisnikID] [int] NOT NULL,
	[tezina] [varchar](50) NOT NULL,
	[ukupneKalorije] [int] NULL,
 CONSTRAINT [PK_Recept] PRIMARY KEY CLUSTERED 
(
	[receptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeRecepta]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeRecepta](
	[stavkeReceptaID] [int] IDENTITY(1,1) NOT NULL,
	[receptID] [int] NOT NULL,
	[kolicina] [int] NOT NULL,
	[mernaJedinica] [varchar](50) NOT NULL,
	[namirnicaID] [int] NOT NULL,
 CONSTRAINT [PK_StavkeRecepta] PRIMARY KEY CLUSTERED 
(
	[stavkeReceptaID] ASC,
	[receptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VrstaJela]    Script Date: 5/24/2024 11:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrstaJela](
	[vrstaJelaID] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VrstaJela] PRIMARY KEY CLUSTERED 
(
	[vrstaJelaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jelo]  WITH CHECK ADD  CONSTRAINT [FK_Jelo_VrstaJela] FOREIGN KEY([vrstaJela])
REFERENCES [dbo].[VrstaJela] ([vrstaJelaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jelo] CHECK CONSTRAINT [FK_Jelo_VrstaJela]
GO
ALTER TABLE [dbo].[ProfilIshrane]  WITH CHECK ADD  CONSTRAINT [FK_ProfilIshrane_Recept] FOREIGN KEY([receptID])
REFERENCES [dbo].[Recept] ([receptID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfilIshrane] CHECK CONSTRAINT [FK_ProfilIshrane_Recept]
GO
ALTER TABLE [dbo].[ProfilIshrane]  WITH CHECK ADD  CONSTRAINT [FK_ProfilIshrane_VrstaJela] FOREIGN KEY([vrstaJelaID])
REFERENCES [dbo].[VrstaJela] ([vrstaJelaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfilIshrane] CHECK CONSTRAINT [FK_ProfilIshrane_VrstaJela]
GO
ALTER TABLE [dbo].[Recept]  WITH CHECK ADD  CONSTRAINT [FK_Recept_Jelo1] FOREIGN KEY([jeloID])
REFERENCES [dbo].[Jelo] ([jeloID])
GO
ALTER TABLE [dbo].[Recept] CHECK CONSTRAINT [FK_Recept_Jelo1]
GO
ALTER TABLE [dbo].[Recept]  WITH CHECK ADD  CONSTRAINT [FK_Recept_Korisnik] FOREIGN KEY([korisnikID])
REFERENCES [dbo].[Korisnik] ([korisnikID])
GO
ALTER TABLE [dbo].[Recept] CHECK CONSTRAINT [FK_Recept_Korisnik]
GO
ALTER TABLE [dbo].[StavkeRecepta]  WITH CHECK ADD  CONSTRAINT [FK_StavkeRecepta_Namirnica] FOREIGN KEY([namirnicaID])
REFERENCES [dbo].[Namirnica] ([namirnicaID])
GO
ALTER TABLE [dbo].[StavkeRecepta] CHECK CONSTRAINT [FK_StavkeRecepta_Namirnica]
GO
ALTER TABLE [dbo].[StavkeRecepta]  WITH CHECK ADD  CONSTRAINT [FK_StavkeRecepta_Recept] FOREIGN KEY([receptID])
REFERENCES [dbo].[Recept] ([receptID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkeRecepta] CHECK CONSTRAINT [FK_StavkeRecepta_Recept]
GO
USE [master]
GO
